<html>

  <header>
    <app-navbar></app-navbar>
  </header>

  <body>
    <h1 class="text-center mt-5">Crew member: {{crewMember.id}}</h1>

    <div class="container pt-5">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <dl>
            <dt>Id:</dt>
            <dd>{{crewMember.id}}</dd>

            <dt>Name:</dt>
            <dd>{{crewMember.name}}</dd>

            <dt>Surname:</dt>
            <dd>{{crewMember.surname}}</dd>

            <dt>Position:</dt>
            <dd>{{crewMember.position}}</dd>
          </dl>
        </div>

        <div class="btn-primary col d-flex flex-column justify-content-center text-center">
          <div class="p-1">
            <button class="w-25 btn btn-primary" (click)="routeToEditForm(crewMember.id)">Edit</button>
          </div>
        </div>
      </div>

      <h1 class="text-center m-3">Flights</h1>

      <div class="row justify-content-center">
        <table class="table table-hover table-info table-striped">
          <thead class="table-dark">
            <tr>
              <th>Id</th>
              <th>Departure from</th>
              <th>Destination</th>
              <th>Departure time</th>
              <th>Arrival time</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let flight of crewMember.flights">
              <td>{{flight.id }}</td>
              <td>{{flight.departureFrom}}</td>
              <td>{{flight.destination}}</td>
              <td>{{flight.departureTime | date:'yyyy-MM-dd HH:mm'}}</td>
              <td>{{flight.arrivalTime | date:'yyyy-MM-dd HH:mm'}}</td>
              <td><button class="btn btn-danger" (click)="deleteFlightFromCrewMember(flight.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
