<html>
  <header>
    <app-navbar></app-navbar>
  </header>

  <body>
    <h1 class="text-center mt-5">Crew members</h1>

    <div class="container">
      <div class="row w-25 pb-1">
        <button class="btn btn-success" (click)="showNewCrewMemberForm()">Create member</button>
      </div>

      <div class="row justify-content-center">
        <table class="table table-hover table-info table-striped">
          <thead class="table-dark">
            <tr>
              <th class="text-light">Id</th>
              <th class="text-light">Name</th>
              <th class="text-light">Surname</th>
              <th class="text-light">Position</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let crewMember of members">
              <td>{{crewMember.id}}</td>
              <td>{{crewMember.name}}</td>
              <td>{{crewMember.surname}}</td>
              <td>{{crewMember.position}}</td>
              <td>
                <button class="btn btn-primary" (click)="getCrewMemberById(crewMember.id)">Info</button>
                <button class="btn btn-danger mx-1" (click)="deleteCrewMember(crewMember.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
